<handler>C:\Users\brenn\Desktop\portables\Portable tools\qBittorrentPortable\qBittorrentPortable.exe</handler><email>brennan92F@gmail.com, mariebrennan60@gmail.com</email><chromedriverexe>C:\\Users\\brenn\\Desktop\\portables\\Portable tools\\GoogleChromePortable\\chromedriver.exe</chromedriverexe><portablechromeexe>C:\\Users\\brenn\\Desktop\\portables\\Portable tools\\GoogleChromePortable\\GoogleChromePortable.exe</portablechromeexe>
